@media(min-width:834px) and (max-width:1279px) {
/* about style */

section.about {
    margin-bottom: 63px;
}

section.about .about-title {
    margin-bottom: 18px;
}

section.about .about-title h3 {
    width: 211.4px;
    height: 53.86px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 101.38%;
    /* or 32px */
    color: #000000;
}

section.about .about-wrapper {
    display: flex;
    justify-content: space-between;
}

section.about .about-wrapper .about-left {
    margin-right: 110px;
}

section.about .about-wrapper .about-left p {

 
    width: 383.41px;
    height: 216.61px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    /* or 21px */


    color: #000000;
}

section.about .about-wrapper .about-right {}

section.about .about-wrapper .about-right .img-box {
    position: relative;
    width: 181.86px;
    height: 182.44px;
 

}

/* section.about .about-wrapper .about-right .img-box{
position: relative;
} */
section.about .about-wrapper .about-right .img-box .main {

    width: 100%;
    height: 100%;
    object-fit: cover;

}

section.about .about-wrapper .about-right .img-box .bottom {
    position: absolute;
    bottom: -24px;
    right: -24px;
    z-index: -1;
    width: 366px;
    height: 60px;
}

/* about styles end */
section.counter {
    margin-bottom: 103px;
}

section.counter .counter-wrapper {
    display: flex;
}

section.counter .counter-wrapper .counter-img_box {

   
    /* margin-right: 132px; */
    position: relative;

    
    width: 134.37px;
    height: 117.57px;
    
}

section.counter .counter-wrapper .counter-img_box .main {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section.counter .counter-wrapper .counter-img_box .bottom {
    display: block;
    position: absolute;
    bottom: -15px;
    right: 12px;
    width: 189px;
    height: 32px;
    z-index: -1;
}

section.counter .counter-wrapper .counter-content {}

section.counter .counter-wrapper .counter-content ul {
    height: 100%;
    display: flex;
    align-items: center;
}

section.counter .counter-wrapper .counter-content ul li {
    list-style-type: none;
    margin-right: 55px;
}

section.counter .counter-wrapper .counter-content ul li h3 {


    width: 86.88px;
    height: 22.59px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 130%;
    /* or 19px */


    color: #000000;
}

section.counter .counter-wrapper .counter-content ul li p {

    width: 86.88px;
    height: 22.59px;
 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 130%;
    /* or 14px */
    color: #000000;

}

/*  counter section styles end */
}